body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url('src/background.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #9DF;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.title, .lineUpButton{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:100px;
  position:absolute;
  box-shadow: 0 0 10px #000;
}